.Page {
	display: flex;
	height: 100%;
	flex-grow: 1;
	flex-direction: column;
	padding: 40px 10px;
	align-items: center;
}

.Page.center-content {
	justify-content: center;
}

.Page.Home, .Page.Photos {
	padding: 0;
}

@media(min-width: 768px) {
	.Page {
		padding: 40px;
	}
}